<canvas id="canvas">tarayıcın html5 desteklemiyor.</canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var tutx=0;
    var tuty=0;
    var mousex=0;var mousey=0;
    var canvasOffset = $("#canvas").offset();
    var offsetX = canvasOffset.left;
    var offsetY = canvasOffset.top;
    // kutu obj
    const k=new Array();
    const kutu = {
      x1: null,x2:null,y1:null,y2:null,id:null,hover:false,
      info:function(){
        console.log("OBJECT[kutu]["+this.id+"] x:"+this.x1+" x2:"+this.x2+" y1:"+this.y1+" y2:"+this.y2+" hover:"+this.hover);
      },
      draw:function(){
          kare_ciz(this.x1,this.y1,this.x2,this.y2);  //x1,y1,x2,y2
        //yuvarlakları çiz
        if (this.hover){
          var r=8;var r2=r/2;
          for (var i = 0; i < r; i++) {
            //x ekseni
            daire_ciz(this.x1,(this.y2/2+this.y1),i);
            daire_ciz(this.x1+this.x2,(this.y1+this.y2/2),i);
            //y ekseni
            daire_ciz((this.x2/2+this.x1),this.y1,i);
            daire_ciz((this.x2/2+this.x1),this.y1+this.y2,i);

          }
        }
      },
      collision:function(){

      }
    };
    /* START EVENT */
    start();
    function start(){
      //kutuları oluştur
      kutu_sayisi=1;
      for (var i = 0; i < kutu_sayisi; i++) {
        k[i] = Object.create(kutu);
        k[i].id=i;
        k[i].x1=5;k[i].y1=5;
        k[i].x2=55;k[i].y2=55;
        k[i].info();

      }
      update();//update fonksiyonunu çalıştır
      draw();//draw fonksiyonunu çalıştır
      handles();//mouse kordinatları
    }
  /*UPDATE EVENT*/
  function update(){
    setTimeout(function(){update();},1);//bu fonksiyonu tekrarla
    for (var i = 0; i < kutu_sayisi; i++) {
      if (mousex>k[i].x1 && mousex<k[i].x1+k[i].x2 && mousey>k[i].y1 && mousey<k[i].y1+k[i].y2){
        if (tutx>k[i].x1 && tutx<k[i].x1+k[i].x2 && tuty>k[i].y1 && tuty<k[i].y1+k[i].y2){
            k[i].hover=true;
        }
      }else{
        k[i].hover=false;
      }
      k[i].info();
    }
  }
  /*DRAW EVENT*/
  function draw(){
    setTimeout(function(){draw();},1);//bu fonksiyonu tekrarla
    clear();
    //çizimleri yap
    daire_ciz(-1,-1,1);
    for (var i = 0; i < kutu_sayisi; i++) {
      k[i].draw();
    }
  }

  function clear(){
     //ekranı temizle
     ctx = canvas.getContext("2d");
     ctx.clearRect(0, 0, canvas.width, canvas.height);
     ctx.clearRect(canvas.width, canvas.height,0, 0);
  }
  function daire_ciz(x,y,r){
    ctx.beginPath();
    ctx.arc(x,y,r, 0, 2 * Math.PI);
    ctx.stroke();
  }
  function kare_ciz(x1,y1,x2,y2){
    ctx.rect(x1, y1, x2, y2);ctx.stroke();
  }
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  function handleMouseDown(e) {
      mousex = parseInt(e.clientX - offsetX);
      mousey = parseInt(e.clientY - offsetY);
      tutx=mousex;
      tuty=mousey;
  }
   function handleMouseUp(e) {
      mousex = parseInt(e.clientX - offsetX);
      mousey = parseInt(e.clientY - offsetY);
  }
   function handleMouseOut(e) {
      mousex = parseInt(e.clientX - offsetX);
      mousey = parseInt(e.clientY - offsetY);
  }
   function handleMouseMove(e) {
      mousex = parseInt(e.clientX - offsetX);
      mousey = parseInt(e.clientY - offsetY);
  }
   function handles(){
    $("#canvas").mousedown(function (e) {
        handleMouseDown(e);
    });
    $("#canvas").mousemove(function (e) {
        handleMouseMove(e);
    });
    $("#canvas").mouseup(function (e) {
        handleMouseUp(e);
    });
    $("#canvas").mouseout(function (e) {
        handleMouseOut(e);
    });
  }
</script>
<style>
body{
  background:rgb(45,45,45);
}
#canvas{
  background:white;
}
</style>
